<section data-ng-init="findOne()" ng-show="cargado">
	<div class="col-xs-12 col-md-9  no-sp centering">
	<div class="dn-line clearfix">
		<box article="article" tipo="3" size="700"></box>
				<div class="col-md-12 mg-top no-sp">
						<banner banners="0"></banner>
				</div>
	</div>

		<h3 class="col-xs-12 col-md-12">Artículos Relacionados</h3>
		<div class="col-xs-12 col-md-12 no-sp dn-line clearfix">
					<div class="col-xs-12 col-md-6">
						<box article="article" tipo="2"></box>
					</div>
					<div class="col-xs-12 col-md-6">
						<box article="article" tipo="2"></box>
					</div>
					<div class="col-xs-12 col-md-6">
						<box article="article" tipo="2"></box>
					</div>
					<div class="col-xs-12 col-md-6">
						<box article="article" tipo="2"></box>
					</div>

		</div>
	</div>


	<div class="col-xs-12 col-md-8 centering">
		<h3 class="col-xs-12 col-md-12 no-sp">Comentarios</h3>

		<dir-disqus config="disqusConfig">
        </dir-disqus>
    </div>

</section>
