<div class="modal-header">
    <h3 class="modal-title">Gazeta de Caracas</h3>
</div>
<div class="modal-body">
  <ul class="nav navbar-nav navbar-left menuli">

    <li>
      <a href="/#!/noticias/category/0" role="button" aria-expanded="false" ng-click="ok($event)">
        Política
      </a>
    </li>
    <li>
      <a href="/#!/noticias/category/1" role="button" aria-expanded="false" ng-click="ok($event)">
        Economía
      </a>

    </li>
    <li>
      <a href="/#!/noticias/category/2" role="button" aria-expanded="false" ng-click="ok($event)">
        Sucesos
      </a>

    </li>
    <li>
      <a href="/#!/noticias/category/3" role="button" aria-expanded="false" ng-click="ok($event)">
        Opinión
      </a>

    </li>
    <li>
      <a href="/#!/noticias/tv" role="button" aria-expanded="false" ng-click="ok($event)">
        TV
      </a>

    </li>


  </ul>
</div>
