<div class="col-xs-12 col-md-12" data-ng-init="findT(10,false,queryVal)" ng-controller="BusquedaController">

		<section>

					<div class="col-xs-11 col-md-11 centering" style="margin-top:10px;">
						<input class="form-control" type="text" data-ng-model="queryVal" placeholder="Busqueda" ng-change="findT(6,false, queryVal)" auto-focus>
					</div>
					<div infinite-scroll='contenedor.nextPage()' infinite-scroll-disabled='contenedor.busy||contenedor.stop' infinite-scroll-distance='1' class="col-xs-12 col-sm-12 col-md-12 no-sp">

								<div data-ng-repeat="article in contenedor.items">

								    <div class="col-xs-12 col-sm-12 col-md-12 clearfix">

											<box article="article" tipo='5'></box>

								    </div>
								</div>
								<h2 ng-show="contenedor.busy">
									<div class="loader"   style="margin-top:80px;font-size: 4px;">
									</div>
								</h2>
						    <div ng-show='contenedor.stop' class="clearfix"><br></div>
								<div class="col-xs-12" ng-show='contenedor.stop'>

													    		<div class="col-xs-12 col-md-12" style="text-align:center; margin-top:15px;margin-bottom:20px; font-size:20px;">
													    CONTACTO   |   PUBLICIDAD
													    		</div>

													    		<h5 style="text-align:center">Copyright Gazeta de Caracas © 2016 Aviso legal. Todos los derechos reservados</h5>
								</div>
					</div>


		</section>

</div>
