<section ng-show="cargado">

	<div class="col-md-12 col-xs-12" ng-if="idcat == 1">
			<lasted articles="articles" tipo="idcat" ng-if="idcat == 1"></lasted>
	</div>

	<div class="col-md-12" ng-if="profile">
		<h2>@{{profile.username}} <span>{{profile.displayName}}</span></h2>
		<img ng-if="profile.images.header" class="col-md-12" lazy-src="profile.images.header" alt="profile.displayName"/>
	</div>

	<div class="row wrap">

			<div class="col-xs-12 col-sm-12 col-md-12 no-sp">

				<widget section='{{option[idcat].label}}' pos='Principal'></widget>

				<div data-ng-repeat="article in articles.results track by $index">
						<div class="col-xs-12 col-sm-12 col-md-12 clearfix" style='{{article.limpiar}}'>
							<box article="article" tipo="1" ng-if="article.important"> </box>
							<banner banners="banners_P1" ng-show="$index % 4 == 0 && $index != 0"></banner>
							<box article="article" tipo="5" ng-if="!article.important"> </box>
						</div>
				</div>



				<div infinite-scroll='contenedor.nextPage()' infinite-scroll-disabled='contenedor.busy||contenedor.stop' infinite-scroll-distance='1' class="col-xs-12 col-sm-12 col-md-12 no-sp">

						<div data-ng-repeat="article in contenedor.items">

						    <div class="col-xs-12 col-sm-12 col-md-12 clearfix" style='{{article.limpiar}}'>

									<box article="article" tipo="1" ng-if="article.important"> </box>
									<banner banners="banners_P1" ng-show="$index % 4 == 0"></banner>
									<box article="article" tipo="5" ng-if="!article.important"> </box>

						    </div>
						</div>
				    <div ng-show='contenedor.stop' class="clearfix"><br></div>
			    </div>
					<div class="col-md-12 mg-top no-sp">
							<banner banners="banners_A1"></banner>
							<h2 ng-show="contenedor.busy">
								<div class="loader"   style="margin-top:80px;font-size: 4px;">
								</div>
							</h2>
					</div>

	        </div>

					<div class="hidden-xs col-sm-5 col-md-4 sidebar" ng-show="cargado">

								<div class="col-xs-12 col-sm-12 col-md-12 no-sp" style="margin-bottom: -50px;">
									<widget section='{{option[idcat].label}}' pos='Lateral'></widget>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-12 no-sp sticky" stickyfill top='80'>

										<div ng-if="profile">
											<h2>@{{profile.username}} </h2>
											<span>{{profile.displayName}}</span>
											<img class="col-md-12" lazy-src="profile.images.avatar" alt="profile.displayName" ng-if="profile.images.avatar"/>

											<div class="sideuser" ng-if="profile.meta.twitter">
													<a class="sicon-tw" href="https://www.twitter.com/{{profile.meta.twitter}}">
													<span>@{{profile.meta.twitter}}</span></a>
											</div>

											<div class="sideuser" ng-if="profile.meta.facebook">
											  <a class="sicon-f" href="https://www.facebook.com/{{profile.meta.facebook}}">
										   	<span>{{profile.meta.facebook}}</span></a>
											</div>

											<div class="sideuser"  ng-if="profile.meta.instagram">
												 	<a class="sicon-g" href="https://www.instagram.com/{{profile.meta.instagram}}">
												 <span>{{profile.meta.instagram}}</span></a>
										  </div>

											<div class="sideuser"  ng-if="profile.meta.website">
													<h4><a href="{{profile.meta.website}}">{{profile.meta.website}}</a></h4>
											</div>
									</div>

									<banner banners="banners_B1" ng-if="!profile"></banner>

                 <div  style="opacity:0.7" >
										<img style="width:100%" lazy-src="modules/core/img/gazeta-svg/gz-ccs-home.svg">
										<p style="text-align:center">
											Copyright © 2016 Aviso legal. <br>
											Todos los derechos reservados
										</p>
									</div>
								</div>

					</div>



			</div>


<section>
