<div class="col-xs-12 centering">

					    		<div class="col-xs-12 col-md-12" style="text-align:center; margin-top:15px;margin-bottom:20px; font-size:20px;">
					    CONTACTO   |   PUBLICIDAD
					    		</div>

					    		<h5 style="text-align:center">Copyright Gazeta de Caracas © 2016 Aviso legal. Todos los derechos reservados</h5>
</div>
