<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">


		<button class="navbar-toggle toggle-menu menu-right push-body" type="button" ng-click="openAside('left', true)">
				<span class="sr-only"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
		</button>

		<button class="nav navbar-toggle no-bd" ng-show="!searchView" type="button">
			<a  role="button" aria-expanded="false" ng-click="inside();changeSearch();" >
								<span class="glyphicon glyphicon-search">
								<span class="sr-only">Search</span>
						</span>
			</a>
		</button>



		<a href="/#!/" class="navbar-brand"><img lazy-src="modules/core/img/gazeta-svg/gazeta-ccs-oscuro.svg"></img>
		</a>


	</div>

	<nav class="navbar-collapse collapse navbar-left" collapse="!isCollapsed" role="navigation">

		<ul class="nav navbar-nav navbar-left hidden-md hidden-lg hidden-sm" >

		  <li>
		    <a href="/#!/noticias/category/0" role="button" aria-expanded="false">
		      Política
		    </a>

		  </li>
		  <li>
		    <a href="/#!/noticias/category/1" role="button" aria-expanded="false">
		      Economía
		    </a>

		  </li>
		  <li>
		    <a href="/#!/noticias/category/2" role="button" aria-expanded="false">
		      Sucesos
		    </a>

		  </li>
		  <li>
		    <a href="/#!/noticias/category/3" role="button" aria-expanded="false">
		      Opinión
		    </a>

		  </li>
		  <li>
		    <a href="/#!/noticias/tv" role="button" aria-expanded="false">
		      TV
		    </a>

		  </li>


		</ul>



		<ul class="nav navbar-nav navbar-left">
			  <li ng-repeat="tag in tags">
			    <a href="/#!/busqueda/{{tag}}/tags" role="button" aria-expanded="false">
			      <span>#</span>{{tag}}
			    </a>
			  </li>
		</ul>

	</nav>


			<ul class="nav navbar-nav navbar-collapse collapse navbar-right">
				  <li ng-show="!searchView">
					    <a  role="button" aria-expanded="false" ng-click="inside();changeSearch();" >
					      				<span class="glyphicon glyphicon-search">
												<span class="sr-only">Search</span>
										</span>
					    </a>
				  </li>
					<li>
					<button class="navbar-toggle toggle-menu menu-right push-body inh" type="button" ng-click="openAside('left', true)">
							<span class="sr-only"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
					</button>
						</li>
			</ul>


		<form class="navbar-form navbar-right" role="search" ng-show="searchView" style="width:100%">
					<div class="input-group" style="width:100%" ng-click="inside()">
						<input type="text" ng-model="customSelected" placeholder="Busqueda" class="form-control" >
						<span class="input-group-btn" style="width:80px" >
							<button class="btn no-rd" ng:show="!!isLoading"><img lazy-src="modules/core/img/loaders/loading_4-1.gif" ></img></button>
							<button type="reset" class="btn no-rd" ng-click="changeSearch()">
								<span class="glyphicon glyphicon-remove">
									<span class="sr-only">Close</span>
								</span>
							</button>
							<button class="btn no-rd" ng-click="onClick(customSelected);changeSearch();clickChange('busqueda')" >
								<span class="glyphicon glyphicon-search">
									<span class="sr-only">Search</span>
								</span>
							</button>
						</span>
					</div>
		</form>

</div>
