<section ng-show="cargado">

		<div class="col-md-12 col-xs-12">
			<lasted></lasted>
		</div>

		<div class="col-md-12 col-xs-12 tope" ng-controller="box-controller" ng-if="articles.results[0].meta.important > 0">
			<div class="col-xs-12 col-sm-12 col-md-12 no-sp">
					<box tipo="4" size="1020" article="articles.results[0]"></box>
			</div>
			<div class="col-md-12 mg-top no-sp">
				<banner banners="banners_A1"></banner>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 no-sp tope clearfix" ng-if="articles.results[0].meta.important == 0">
				<div class="col-xs-12 col-sm-8 col-md-8">
					<box article="articles.results[0]" tipo='1' ></box>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<box article="articles.results[1]" tipo='1'></box>
				</div>

				<div class="col-md-12 mg-top">
						<banner banners="banners_A1"></banner>
				</div>
		</div>

		<div class="col-xs-12 hidden-sm hidden-md hidden-lg" ng-show="cargado" >
			<widget section='Home' pos='Lateral'></widget>
		</div>

		<div class="row wrap">

		<div class="col-xs-12 col-sm-12 col-md-12" >
				<div data-ng-repeat="article in articles.results | startFrom : 2 | limitTo: 6 | orderBy:['meta.important','published_date']">
						<div class="col-xs-12 col-sm-12 col-md-12 bl clearfix no-sp"  ng-show="!$first">
	            <box article="article" tipo="1" ng-show="article.meta.important > 0"> </box>
	            <box article="article" tipo="5" ng-show="article.meta.important == 0"> </box>
						</div>

				</div>

				<div class="col-md-12 mg-top no-sp">
						<banner banners="banners_P1"></banner>
				</div>

				<widget section='Home' pos='Principal'></widget>

				<div data-ng-repeat="article in articles.results | startFrom : 8 |  orderBy:['meta.important','published_date']">
						<div class="col-xs-12 col-sm-12 col-md-12 bl clearfix no-sp">
							<box article="article" tipo="1" ng-show="article.meta.important > 0"> </box>
							<banner banners="banners_P1" ng-show="$index % 4 == 0"></banner>
							<box article="article" tipo="5" ng-show="article.meta.important == 0"> </box>
						</div>
				</div>

				<div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy||reddit.stop' infinite-scroll-distance='1' class="col-xs-12 col-sm-12 col-md-12 no-sp">
							<div data-ng-repeat="article in reddit.items" class="col-xs-12 col-sm-12 col-md-12 no-sp bl clearfix">
								<box article="article" tipo="1" ng-show="article.meta.important"> </box>
								<banner banners="banners_P1" ng-show="$index % 4 == 0"></banner>
								<box article="article" tipo="5" ng-show="!article.meta.important"> </box>
						  </div>
				</div>
				<div class="col-md-12 mg-top no-sp">
						<h2 ng-show="reddit.busy">
							<div class="loader"   style="margin-top:80px;font-size: 4px;">
							</div>
						</h2>
				</div>


				<div class="alert alert-warning text-center" data-ng-if="articles.results.$resolved && !articles.results.length">
					No se encontraron publicaciones
				</div>


		</div>


			<div class="hidden-xs col-sm-5 col-md-4 sidebar" style="margin-top:50px" ng-show="cargado">

					<div class="col-xs-12 col-sm-12 col-md-12 no-sp"
					 style="margin-bottom: -90px;">
					 		<widget section='Home' pos='Lateral'></widget>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-12 no-sp sticky" stickyfill top='80'>
						<div >
							<newsletter></newsletter>
							<banner banners="banners_B1"></banner>
							<div style="opacity:0.7" >
								<img style="width:100%" lazy-src="modules/core/img/gazeta-svg/gz-ccs-home.svg">
								<p style="text-align:center">
									Copyright © 2016 Aviso legal <br>
									Todos los derechos reservados
								</p>
							</div>
						</div>
					</div>
			</div>

	</div>

<miniplayer mini='Player' title='EN VIVO: La tierra desde satelite.'></miniplayer>



</section>
