<section ng-init="initVideos()">

<br>
	<div class="col-xs-12 col-md-10 no-sp centering">
			<youtube auto-play='1' video-id="Player" width="1280" height="720"  ></youtube>
		<h2>LIVESTREAM - Outer Space</h2>
	</div>
<div class="col-md-12 no-sp">

					<h2 style="margin-left:8px">Buen Provecho</h2>
			<div class="contenedor">
				<div class="row hero">
					<div  ng-repeat="video in videosTV1.data.items">
							<div class="col-xs-1 col-md-1 no-sp view view-first" ng-show="!activo" ng-click="clickPic()">
								<img id="imagen" lazy-src="{{video.snippet.thumbnails.medium.url}}" class="col-xs-12 col-md-12 delay no-sp"></img>
							</div>

							<div class="col-xs-1 col-md-1 no-sp view view-first" ng-show="activo" ng-mouseleave="clickPic()">
									<img lazy-src="{{video.snippet.thumbnails.medium.url}}" class="col-xs-12 col-md-12 delay no-sp"></img>
					        <div class="mask delay">
					            <h2 >{{video.snippet.title}}</h2>
					            <p class="black delay"></p>
					            <a data-ng-click="clickVideo(video.snippet.resourceId.videoId, video.snippet.title)" class="info delay" >PLAY</a>
					        </div>
							</div>
					</div>
				</div>
			</div>

			<h2 style="margin-left:8px">Expedientes</h2>

			<div class="contenedor">
				<div class="row hero" >

					<div  ng-repeat="video in videosTV2.data.items">

						<div class="col-xs-1 col-md-1 no-sp view view-first" ng-show="!activo" ng-click="clickPic()">
							<img lazy-src="{{video.snippet.thumbnails.medium.url}}" class="col-xs-12 col-md-12 delay no-sp"></img>


						</div>

						<div class="col-xs-1 col-md-1 no-sp view view-first" ng-show="activo" ng-mouseleave="clickPic()">
							<img lazy-src="{{video.snippet.thumbnails.medium.url}}" class="col-xs-12 col-md-12 delay no-sp"></img>

			                    <div class="mask delay">
			                        <h2 >{{video.snippet.title}}</h2>
			                        <p class="black delay"></p>
			                        <a data-ng-click="clickVideo(video.snippet.resourceId.videoId, video.snippet.title)" class="info delay" >PLAY</a>
			                    </div>

						</div>
					</div>
				</div>
			</div>

			<h2 style="margin-left:8px">Política</h2>

			<div class="contenedor">
				<div class="row hero" >

					<div  ng-repeat="video in videosTV3.data.items">

						<div class="col-xs-1 col-md-1 no-sp view view-first" ng-show="!activo" ng-click="clickPic()">
							<img lazy-src="{{video.snippet.thumbnails.medium.url}}" class="col-xs-12 col-md-12 delay no-sp"></img>


						</div>

						<div class="col-xs-1 col-md-1 no-sp view view-first" ng-show="activo" ng-mouseleave="clickPic()">
							<img lazy-src="{{video.snippet.thumbnails.medium.url}}" class="col-xs-12 col-md-12 delay no-sp"></img>

			                    <div class="mask delay">
			                        <h2 >{{video.snippet.title}}</h2>
			                        <p class="black delay"></p>
			                        <a data-ng-click="clickVideo(video.snippet.resourceId.videoId, video.snippet.title)" class="info delay" >PLAY</a>
			                    </div>

						</div>
					</div>
				</div>
			</div>
			<h2 style="margin-left:8px">Economía</h2>

			<div class="contenedor">
				<div class="row hero" >

					<div  ng-repeat="video in videosTV4.data.items">

						<div class="col-xs-1 col-md-1 no-sp view view-first" ng-show="!activo" ng-click="clickPic()">
							<img lazy-src="{{video.snippet.thumbnails.medium.url}}" class="col-xs-12 col-md-12 delay no-sp"></img>


						</div>

						<div class="col-xs-1 col-md-1 no-sp view view-first" ng-show="activo" ng-mouseleave="clickPic()">
							<img lazy-src="{{video.snippet.thumbnails.medium.url}}" class="col-xs-12 col-md-12 delay no-sp"></img>

			                    <div class="mask delay">
			                        <h2 >{{video.snippet.title}}</h2>
			                        <p class="black delay"></p>
			                        <a data-ng-click="clickVideo(video.snippet.resourceId.videoId, video.snippet.title)" class="info delay" >PLAY</a>
			                    </div>

						</div>
					</div>
				</div>
			</div>
			<h2 style="margin-left:8px">Sucesos</h2>

			<div class="contenedor">
				<div class="row hero" >

					<div  ng-repeat="video in videosTV5.data.items">

						<div class="col-xs-1 col-md-1 no-sp view view-first" ng-show="!activo" ng-click="clickPic()">
							<img lazy-src="{{video.snippet.thumbnails.medium.url}}" class="col-xs-12 col-md-12 delay no-sp"></img>


						</div>

						<div class="col-xs-1 col-md-1 no-sp view view-first" ng-show="activo" ng-mouseleave="clickPic()">
							<img lazy-src="{{video.snippet.thumbnails.medium.url}}" class="col-xs-12 col-md-12 delay no-sp"></img>

			                    <div class="mask delay">
			                        <h2 >{{video.snippet.title}}</h2>
			                        <p class="black delay"></p>
			                        <a data-ng-click="clickVideo(video.snippet.resourceId.videoId, video.snippet.title)" class="info delay" >PLAY</a>
			                    </div>

						</div>
					</div>
				</div>
			</div>
			<h2 style="margin-left:8px">Opinión</h2>

			<div class="contenedor">
				<div class="row hero" >

					<div  ng-repeat="video in videosTV6.data.items">

						<div class="col-xs-1 col-md-1 no-sp view view-first" ng-show="!activo" ng-click="clickPic()">
							<img lazy-src="{{video.snippet.thumbnails.medium.url}}" class="col-xs-12 col-md-12 delay no-sp"></img>


						</div>

						<div class="col-xs-1 col-md-1 no-sp view view-first" ng-show="activo" ng-mouseleave="clickPic()">
							<img lazy-src="{{video.snippet.thumbnails.medium.url}}" class="col-xs-12 col-md-12 delay no-sp"></img>

			                    <div class="mask delay">
			                        <h2 >{{video.snippet.title}}</h2>
			                        <p class="black delay"></p>
			                        <a data-ng-click="clickVideo(video.snippet.resourceId.videoId, video.snippet.title)" class="info delay" >PLAY</a>
			                    </div>

						</div>
					</div>
				</div>
			</div>
			<h2 style="margin-left:8px">Un Café con Carla</h2>

			<div class="contenedor">
				<div class="row hero" >

					<div  ng-repeat="video in videosTV7.data.items">

						<div class="col-xs-1 col-md-1 no-sp view view-first" ng-show="!activo" ng-click="clickPic()">
							<img lazy-src="{{video.snippet.thumbnails.medium.url}}" class="col-xs-12 col-md-12 delay no-sp"></img>


						</div>

						<div class="col-xs-1 col-md-1 no-sp view view-first" ng-show="activo" ng-mouseleave="clickPic()">
							<img lazy-src="{{video.snippet.thumbnails.medium.url}}" class="col-xs-12 col-md-12 delay no-sp"></img>

			                    <div class="mask delay">
			                        <h2 >{{video.snippet.title}}</h2>
			                        <p class="black delay"></p>
			                        <a data-ng-click="clickVideo(video.snippet.resourceId.videoId, video.snippet.title)" class="info delay" >PLAY</a>
			                    </div>

						</div>
					</div>
				</div>
			</div>

			<h2 style="margin-left:8px">Noticias24</h2>

			<div class="contenedor">
				<div class="row hero" >

					<div  ng-repeat="video in videosTV8.data.items">

						<div class="col-xs-1 col-md-1 no-sp view view-first" ng-show="!activo" ng-click="clickPic()">
							<img lazy-src="{{video.snippet.thumbnails.medium.url}}" class="col-xs-12 col-md-12 delay no-sp"></img>
						</div>

						<div class="col-xs-1 col-md-1 no-sp view view-first" ng-show="activo" ng-mouseleave="clickPic()">
							<img lazy-src="{{video.snippet.thumbnails.medium.url}}" class="col-xs-12 col-md-12 delay no-sp"></img>
			            <div class="mask delay">
			                <h2 >{{video.snippet.title}}</h2>
			                <p class="black delay"></p>
			                <a data-ng-click="clickVideo(video.snippet.resourceId.videoId, video.snippet.title)" class="info delay" >PLAY</a>
			            </div>
						</div>
					</div>

				</div>
			</div>
</div>


</section>

<div class="col-xs-12">

					    		<div class="col-xs-12 col-md-12" style="text-align:center; margin-top:15px;margin-bottom:20px; font-size:20px;">
					    CONTACTO   |   PUBLICIDAD
					    		</div>

					    		<h5 style="text-align:center">Copyright Gazeta de Caracas © 2016 Aviso legal. Todos los derechos reservados</h5>
</div>
