
<div class="col-xs-12 dn-read-gz" ng-if="tipo==1 && idcat != 3">

				<h2>{{option[idcat].label}}</h2>
				<div class="news-gz" ng-repeat="article in catNews | limitTo:5">


					<box tipo="2" article="article" class="bl" ng-show="$first"></box>
					<div class="clearfix"></div>

					<ul class="read-list" ng-show="!$first">
						<li class="clearfix">

								<span class="dn-read-time">
									<span class="date">24</span>
									<span class="month">Dec</span>
								</span>
							<a href="/#!/articulo/{{article.slug}}/{{article.published_date}}">
							<span class="dn-read-content">
								<span class="contenido">
									{{article.title}}
								</span>

							</span>
						</a>
						</li>

					</ul>
				</div>

</div>
<div class="col-xs-12 dn-read-pr" ng-if="tipo==2 && idcat != 3">

				<h2>{{option[idcat].label}}</h2>
				<div class="news-gz" ng-repeat="article in catNews | limitTo:5">


					<box tipo="1" article="article" class="bl" ng-show="$first"></box>

					<div class="col-xs-12 col-md-6"  ng-class="{'clear': $index==3}" ng-show="!$first">
						<box tipo="1" article="article"></box>
					</div>
				</div>

</div>


<div class="col-xs-12 dn-read-gz" ng-show="tipo==1 && idcat == 3">

				<h2>Opinión</h2>
				<div class="news-gz" >

					<ul class="read-list">
						<li class="dn-line clearfix"  ng-repeat="article in catNews | limitTo:6">
							<div class="col-xs-12 col-md-12 no-sp">
										<p class="dn-head-meta italic">Por @{{article.user.username}}</p><p class="dn-head-meta italic" style="float:right; font-family: serif;"> {{article.published_date | date:'dd/MM/yyyy h:mma'}}</p>
							</div>

						<a href="/#!/articulo/{{article.slug}}/{{article.published_date}}">
								<img class="col-xs-4 col-md-4 no-sp" lazy-src="https://res.cloudinary.com/akolor/image/upload/c_crop,h_200,w_200/{{article.user.image}}"></img>

							<span class="dn-read-content col-xs-8 col-md-8">
								<span class="contenido">
									{{article.title | limitTo: 66}}...
								</span>

							</span>
						</a>


						</li>

					</ul>
				</div>

</div>
<div class="col-xs-12 dn-read-pr" ng-show="tipo==2 && idcat == 3">

				<h2>Opinión</h2>
				<div class="news-gz" >

					<ul class="read-list">
						<li class="dn-line clearfix"  ng-repeat="article in catNews | limitTo:6">
							<div class="col-xs-12 col-md-12 no-sp">
										<p class="dn-head-meta italic">Por @{{article.user.username}}</p><p class="dn-head-meta italic" style="float:right; font-family: serif;"> {{article.published_date | date:'dd/MM/yyyy h:mma'}}</p>
							</div>

						<a href="/#!/articulo/{{article.slug}}/{{article.published_date}}">
								<img class="col-xs-2 col-md-2 no-sp" lazy-src="https://res.cloudinary.com/akolor/image/upload/c_crop,h_200,w_200/{{article.user.image}}"></img>

							<span class="dn-read-content col-xs-10 col-md-10">
								<span class="contenido wd-gz-op">
									{{article.title | limitTo: 66}}...
								</span>

							</span>
						</a>


						</li>

					</ul>
				</div>

</div>
