	<div class="col-xs-12 dn-read-gz">
		<h2>Stock Market</h2>

		<img class="col-xs-12" lazy-src="https://chart.finance.yahoo.com/z?s={{$ctrl.title}}&t=1d&q=c&l=on&z=l&p=m5,m200" style="margin-bottom:10px">

		<div class="col-md-12" ng-repeat="n in data1 track by $index"  style="font-family:serif; margin-top:10px;" ng-show="n.LastTradePriceOnly">

			<span class="date" style="color:black">{{n.Symbol}} : {{n.LastTradePriceOnly}}</span>
			<span class="title" ng-show="n.Change<0 && n.Change != undefined" style="color:red">{{n.Change}} ({{calc(n.LastTradePriceOnly, n.Open)| limitTo:5}}%)</span>
			<span class="title" ng-show="n.Change>0 && n.Change != undefined" style="color:green">{{n.Change}} ({{calc(n.LastTradePriceOnly, n.Open) | limitTo:5}}%)</span>
			<span class="title" ng-show="n.Change==0 && n.Change != undefined" style="color:black">{{n.Change}} ({{calc(n.LastTradePriceOnly, n.Open)  | limitTo:5}}%)</span>
			<span class="date" style="color:black">{{n.LastTradeDate | date:'medium'}}  {{n.LastTradeTime}}</span>


		</div>


	</div>
