			<div class="col-xs-12 dn-read-gz">

				<div class="news-gz">
					<h2>Encuesta</h2>
						<h4>{{quest.question}}</h4>
						<div class="radio" ng-repeat="ans in quest.options" ng-show="!resultView">
						  <label>
						    <input type="radio" name="optionsRadios" ng-model="seleccion.indice" value="{{$index}}">
						    {{ans.text}}
						  </label>
						</div>

						<div class="radio" ng-repeat="ans in quest.options" ng-show="resultView">
						  <label>
						{{ans.text}}: {{ans.vote}} votos
						  </label>
						</div>

						<button type="submit" class="btn btn-gz" ng-click="vote()" ng-show="!voted">Votar</button>
						<button type="submit" class="btn btn-gz" ng-click="resultBtn()" ng-show="!voted">Resultados</button>

				</div>

			</div>
