<div class="col-xs-12 dn-read-gz">

				<h2 name="hash" >#{{hash}}</h2>
		
				<div class="news-gz" ng-repeat="article in hashNews.results">


					<box tipo="2" article="article" ng-show="$first"></box>
					<div class="clearfix"></div>

					<ul class="read-list" ng-show="!$first">
						<li class="clearfix">

								<span class="dn-read-time">
									<span class="date">24</span>
									<span class="month">Dec</span>
								</span>
							<a href="/#!/articulo/{{article.slug}}/{{article.published_date}}">
							<span class="dn-read-content">
								<span class="contenido">
									{{article.title}}
								</span>

							</span>
						</a>
						</li>

					</ul>
				</div>

</div>
