<div  class="dn-read-gz col-md-12">
		<h2 class="col-xs-12 no-sp">Imagen del Día</h2>
		<div class="col-sm-4 col-md-4 col-xs-4 no-sp">
				<div class="dn-sep">“</div>
		</div>
		<div class="col-sm-8 col-md-8 col-xs-8 no-sp">
				<div class="dn-author" >Autor: @{{imageNews.user.username}} </div>
		</div>

		<div class="col-sm-12 col-md-12 col-xs-12 no-sp">
			<div class="dn-head-meta dn-date-share">
				<time am-time-ago="imageNews.published_date"></time>
			</div>
			<div class="dn-share">
									<a class="sicon-tw" href="https://twitter.com/share?text=Odamae%20-%20free%20contact%20form%20service%20from%20Phantomus&amp;url=http://dayandnight-demo.phantomus.com/odamae-free-contact-form-service-from-phantomus/" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"></a>
									<a class="sicon-f" href="https://www.facebook.com/sharer/sharer.php?u=http://dayandnight-demo.phantomus.com/odamae-free-contact-form-service-from-phantomus/" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
									<a class="sicon-g" href="https://plus.google.com/share?url=http://dayandnight-demo.phantomus.com/odamae-free-contact-form-service-from-phantomus/" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"></a>
			</div>
		<h3 class="col-xs-12 no-sp">{{imageNews.title}}</h3>

		<img class="col-xs-12 no-sp" lazy-src="{{imageNews.images.url_720}}">
		<h4 class="col-xs-12 no-sp">{{imageNews.headlines}}</h4>

	</div>
</div>
