<div ng-if="(stock && data1) || (!stock && news)" >

<affixer class="lasted">
		<div>
				<div class="col-xs-1 col-sm-1 dn-title-gz hot-btn" ng-click="cambio()" style="cursor: pointer;">
					<span class="glyphicon glyphicon-fire" aria-hidden="true"  ng-if="!stock"></span>
					<span class="glyphicon glyphicon-usd" aria-hidden="true"  ng-if="stock"></span>
				</div>
				<div class="col-xs-11 col-sm-11 col-md-11 dn-ticker-gz" ng-class="{ 'gblack': stock }">

						<div class="dn-ticker-gz-inner" ng-if="!stock">
								<div>
									<div id="news_strip" ng-mouseover="conf.news_move_flag=false" ng-mouseout="conf.news_move_flag=true">
										    <div class="shadow left">&nbsp;</div>
										    <a ng-repeat="(k, n) in news track by $index" ng-style="{'right': get_news_right($index)}" id="news_{{$index}}" rel="nofollow" target="_blank" ng-href="/{{n.slug}}/n.published_date">
										        <span class="date">{{n.published_date | date:'h:mma'}}</span>
										        <span class="title" style="font-size:14px">{{n.title | limitTo:50}}...</span>
										    </a>
										    <div class="shadow right">&nbsp;</div>
									</div>
								</div>
						</div>

						<div class="dn-ticker-gz-inner" ng-if="stock">
								<div>
									<div id="news_strip" ng-mouseover="conf.news_move_flag=false" ng-mouseout="conf.news_move_flag=true">
										    <a ng-repeat="n in data1 track by $index"  ng-style="{'right': get_news_right($index)}" id="news_{{$index}}" rel="nofollow" target="_blank" style="width:280px!important">
										        <span class="date" style="color:#c5c5c5">{{n.Symbol}} : {{n.LastTradePriceOnly}}</span>
										        <span class="title" ng-show="n.Change<0 && n.Change != undefined" style="color:red">{{n.Change}} ({{calc(n.LastTradePriceOnly, n.Open)| limitTo:5}}%)</span>
										        <span class="title" ng-show="n.Change>0 && n.Change != undefined" style="color:green">{{n.Change}} ({{calc(n.LastTradePriceOnly, n.Open) | limitTo:5}}%)</span>
														<span class="title" ng-show="n.Change==0 && n.Change != undefined" style="color:gray">{{n.Change}} ({{calc(n.LastTradePriceOnly, n.Open)  | limitTo:5}}%)</span>
														<span class="date" style="color:#c5c5c5">{{n.LastTradeDate}} - {{n.LastTradeTime}}</span>
										    </a>
									</div>
								</div>
						</div>
			</div>
		</div>
</affixer>
<div class="statico">
			<div class="col-xs-1 col-sm-1 dn-title-gz hot-btn" ng-click="cambio()" style="cursor: pointer;">
				<span class="glyphicon glyphicon-fire" aria-hidden="true"  ng-if="!stock"></span>
				<span class="glyphicon glyphicon-usd" aria-hidden="true"  ng-if="stock"></span>
			</div>
			<div class="col-xs-11 col-sm-11 col-md-11 dn-ticker-gz"  ng-class="{'gblack': stock }">

					<div class="dn-ticker-gz-inner" ng-if="!stock">
							<div>
								<div id="news_strip" ng-mouseover="conf.news_move_flag=false" ng-mouseout="conf.news_move_flag=true">
									    <div class="shadow left">&nbsp;</div>
									    <a ng-repeat="(k, n) in news track by $index" ng-style="{'right': get_news_right($index)}" id="news_{{$index}}" rel="nofollow" target="_blank" href="{{n.id}}">
									        <span class="date">{{n.published_date | date:'h:mma'}}</span>
									        <span class="title" style="font-size:14px">{{n.title | limitTo:50}}...</span>
									    </a>
									    <div class="shadow right">&nbsp;</div>
								</div>
							</div>
					</div>

					<div class="dn-ticker-gz-inner" ng-if="stock">
							<div>
								<div id="news_strip" ng-mouseover="conf.news_move_flag=false" ng-mouseout="conf.news_move_flag=true">

									<a ng-repeat="n in data1 track by $index"  ng-style="{'right': get_news_right($index)}" id="news_{{$index}}" rel="nofollow" target="_blank" style="width:280px!important">
										<span class="date" style="color:#c5c5c5">{{n.Symbol}} : {{n.LastTradePriceOnly}}</span>
										<span class="title" ng-show="n.Change<0 && n.Change != undefined" style="color:red">{{n.Change}} ({{calc(n.LastTradePriceOnly, n.Open)| limitTo:5}}%)</span>
										<span class="title" ng-show="n.Change>0 && n.Change != undefined" style="color:green">{{n.Change}} ({{calc(n.LastTradePriceOnly, n.Open) | limitTo:5}}%)</span>
										<span class="title" ng-show="n.Change==0 && n.Change != undefined" style="color:gray">{{n.Change}} ({{calc(n.LastTradePriceOnly, n.Open)  | limitTo:5}}%)</span>
										<span class="date" style="color:#c5c5c5">{{n.LastTradeDate}} - {{n.LastTradeTime}}</span>
									</a>

								</div>
							</div>
					</div>
		</div>
</div>
</div>
