<aside class='mini' ng-if='$ctrl.look' ng-mouseover="$ctrl.bigg()" ng-mouseleave="$ctrl.smal()">
	<span class='btitle'>{{$ctrl.title}}</span>
	<span class='bclose glyphicon glyphicon-remove-circle' ng-click='$ctrl.close()' ng-show='$ctrl.big'></span>
	<span class='bclose glyphicon glyphicon-volume-up' ng-click='$ctrl.vol()' ng-show='$ctrl.mute && $ctrl.big'></span>
	<span class='bclose glyphicon glyphicon-volume-off' ng-click='$ctrl.vol()' ng-show='!$ctrl.mute && $ctrl.big'></span>
	<span class='bclose glyphicon glyphicon-resize-full' style='font-size: 13px;
    margin-top: 8px; margin-right:8px' ng-click='$ctrl.totv()' ng-show='$ctrl.big'></span>
	<youtube auto-play='1' mute='$ctrl.mute' video-id='$ctrl.mini' width='155' height='87' show-info='0' control='0' disable-kb='1' auto-hide='0' rel='0' modest-branding='1' ng-click='$ctrl.totv()'></youtube>
</aside>

<aside class='mini mi' ng-if='!$ctrl.look'>
	<span class='glyphicon glyphicon-expand bopen' ng-click='$ctrl.close()'></span>
</aside>
