			<div class="col-xs-12 dn-read-gz">
				<h2>Más Leídos</h2>
				<ul class="read-list">
					<li class="clearfix" ng-repeat="article in topNews | limitTo:8">

							<span class="dn-read-time dn-top">
								<span class="date">{{$index+1}}</span>
								<span class="month"></span>
							</span>
							<a href="/#!/articulo/{{article.slug}}/{{article.published_date}}">
								<span class="dn-read-content">
									<span class="contenido">
										{{article.title}}
									</span>
								</span>
							</a>

					</li>

			</div>
