			<div class="col-xs-12 dn-read-gz">

				<div class="news-gz">	
						<h2>Newsletter</h2>

						<p>Suscríbete ahora y recibe diariamente nuestras noticias</p>

						<div class="input-group">
						    <div class="input-group-btn">
		       				 	<button type="button" class="btn btn-gz">Suscríbete</button>
		       				</div>
						  <input type="text" class="form-control btn-gz" placeholder="E-mail" aria-describedby="sizing-addon2">
						</div>
				</div>

			</div>