
<div class="row" ng-controller="top-controller" data-ng-init="inicializar()" style="min-height: 100px;">

			<a href="/#!/" >
			<img class='col-xs-12 col-sm-12 logo-gz-cat no-sp' ng-click="clickChange('home')" ng-if="category" lazy-src="modules/core/img/gazeta-svg/gazeta-ccs-{{category}}.svg" style="min-height: 80px; margin-bottom:10px"></img>
			</a>

	<h5 class='date-gz col-xs-12' >Caracas, {{fecha | date:'fullDate'}}</h5>
		<div class='col-xs-12'>

					  <div class="hidden-xs col-sm-12 col-md-9 col-lg-8 centering category-gz">
						<a type="button" class="btn btn-md boton-gz post-gz" ng-class="{active:category=='politica'}" data-ng-href="#!/noticias/category/0">POLÍTICA</a>
						<a type="button" class="btn btn-md boton-gz post-gz" ng-class="{active:category=='economia'}" data-ng-href="#!/noticias/category/1">ECONOMÍA</a>
						<a type="button" class="btn btn-md boton-gz post-gz" ng-class="{active:category=='sucesos'}" data-ng-href="#!/noticias/category/2">SUCESOS</a>
						<a type="button" class="btn btn-md boton-gz post-gz" ng-class="{active:category=='opinion'}" data-ng-href="#!/noticias/category/3">OPINIÓN</a>
						<a type="button" class="btn btn-md boton-gz-last post-gz" ng-class="{active:category=='tv'}" data-ng-href="#!/noticias/tv">TV</a>
					  </div>

		</div>
	<div class="clearfix"></div>

</div>
