			<div class="col-xs-12 dn-read-gz" data-ng-controller="TwitterController">

				<div class="news-gz">
					<br>
						<div class="col-xs-11 col-xs-10 col-md-10"><h4>Twitter</h4></div><div class="glyphicon glyphicon-refresh load-circle col-xs-1 col-md-1" id="loading-activo" ng-click="refresh()"></div>

						<ul class="no-sp">
							<li ng-repeat="tweet in tweets.data | limitTo: 6" class="dn-line clearfix">



									<img class="col-xs-3 col-md-3"  lazy-src="{{tweet.user.profile_image_url}}" style="top: 10px;padding:0 10px 0 12px;"></img>

									<div class="col-xs-6 col-md-6 no-sp">
										<h5>@{{tweet.user.screen_name}}</h5>
										<h5>{{tweet.user.name}}</h5>


									</div>
									<span class="col-xs-3 col-md-3 dn-read-time" style="padding:0; margin:5px auto;">
										<span class="date">{{formatDate(tweet.created_at) | date:'dd'}}</span>
										<span class="month">{{formatDate(tweet.created_at) | date:'MMM'}}</span>
									</span>


								<div class="clearfix"></div>

								<div class="col-xs-12 col-md-12">

									<small ng-bind-html="tweet.text | linky | tweetLinky"></small>
									<br>
									<small>{{formatDate(tweet.created_at) | date:'medium'}}</small>

								</div>

							</li>
						</ul>

				</div>

			</div>
