
<div class="col-xs-12 dn-read-gz" ng-show="tipo=='Lateral'">

				<img class="logo-gz-cat no-sp ng-scope" lazy-src="modules/core/img/gazeta-svg/gazeta-ccs-tv.svg" style="max-height: 100px;" >
				<div class="news-gz" >

					<ul class="read-list">
						<li class="dn-line clearfix"  ng-repeat="article in youNews.items | limitTo: 6">

							<div ng-show="$first">

								<div class="col-xs-12 col-md-12 no-sp">
											<p class="dn-head-meta italic" style="float:right; font-family: serif;"> {{article.snippet.publishedAt | date:'dd/MM/yyyy h:mma'}}</p>
								</div>



								<a ng-click="clickVideo(article.snippet.resourceId.videoId, article.snippet.title)">
									<img class="col-xs-12 col-md-12 no-sp" lazy-src="{{article.snippet.thumbnails.medium.url}}">

									</img>


									<span class="dn-read-content col-xs-12 col-md-12">
										<h2 class="contenido">
											{{article.snippet.title}}
										</h2>

									</span>
								</a>

							</div>





							<div ng-show="!$first">
								<div class="col-xs-12 col-md-12 no-sp">
											<p class="dn-head-meta italic" style="float:right; font-family: serif;"> {{article.snippet.publishedAt | date:'dd/MM/yyyy h:mma'}}</p>
								</div>

								<a ng-click="clickVideo(article.snippet.resourceId.videoId, article.snippet.title)">
									<img class="col-xs-4 col-md-4 no-sp" lazy-src="{{article.snippet.thumbnails.medium.url}}" >

									</img>


									<span class="dn-read-content col-xs-8 col-md-8">
										<span class="contenido">
											{{article.snippet.title | limitTo: 66}}...
										</span>

									</span>
								</a>

							</div>


						</li>

					</ul>
				</div>

</div>
<div class="col-xs-12 dn-read-pr" ng-show="tipo=='Principal'">

				<img class="logo-gz-cat no-sp ng-scope" lazy-src="modules/core/img/gazeta-svg/gazeta-ccs-tv.svg" style="max-height: 100px;" >
				<div class="news-gz" >


					<ul class="read-list">
						<li class="dn-line clearfix"  ng-repeat="article in youNews.items | limitTo: 4">

							<div ng-show="$first">

								<div class="col-xs-12 col-md-12 no-sp">
											<p class="dn-head-meta italic" style="float:right; font-family: serif;"> {{article.snippet.publishedAt | date:'dd/MM/yyyy h:mma'}}</p>
								</div>



								<a ng-click="clickVideo(article.snippet.resourceId.videoId, article.snippet.title)">
									<img class="col-xs-12 col-md-12 no-sp" lazy-src="{{article.snippet.thumbnails.medium.url}}">

									</img>


									<span class="dn-read-content col-xs-12 col-md-12">
										<h2 class="contenido">
											{{article.snippet.title}}
										</h2>

									</span>
								</a>

							</div>





							<div ng-show="!$first">
								<div class="col-xs-12 col-md-12 no-sp">
											<p class="dn-head-meta italic" style="float:right; font-family: serif;"> {{article.snippet.publishedAt | date:'dd/MM/yyyy h:mma'}}</p>
								</div>



								<a ng-click="clickVideo(article.snippet.resourceId.videoId, article.snippet.title)">
									<img class="col-xs-4 col-md-4 no-sp" lazy-src="{{article.snippet.thumbnails.medium.url}}" >

									</img>


									<span class="dn-read-content col-xs-8 col-md-8">
										<span class="contenido wd-gz-op">
											{{article.snippet.title | limitTo: 66}}...
										</span>

									</span>
								</a>

							</div>


						</li>

					</ul>
				</div>

</div>
